<!DOCTYPE html>
<html>
	  <head>
		    <title>Find the Best Jobs in {{ city }}</title>
		    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
		    <!--[if lte IE 8]><script src="{{basePath}}js/ie/html5shiv.js"></script><![endif]-->
		    <link rel="stylesheet" href="{{basePath}}css/main.css?v={{ version }}" />
		    <!--[if lte IE 9]><link rel="stylesheet" href="{{basePath}}css/ie9.css" /><![endif]-->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111646882-2"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         gtag('config', 'UA-111646882-2');
        </script>
	  </head>
	  <body>
        {{{body}}}
        <script type="text/javascript" src="{{basePath}}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{basePath}}js/form.js?v={{ version }}"></script>
	  </body>
</html>
