<section id="banner">
<h1>Find The Job That's Right for You! </h1>
		<div class="wrapper special">
				<div class="inner narrow">
            <form id="search-form" class="grid-form">
                <div class="form-control narrow">
							      <label for="input-job">What</label>
                    <p class="subtitle">Job title, keywords or company</p>
							      <input name="job" id="input-job" type="text" value="">
						    </div>
                <div class="form-control narrow">
							      <label for="input-city">Where</label>
                    <p class="subtitle">city, state or zip code</p>
							      <input name="city" id="input-city" type="text" value="{{ cityRegion }}">
						    </div>
                <div class="form-control narrow">
							      <input name="city-hidden" id="input-city-hidden" value="{{ cityRegion }}" type="hidden" />
							      <input name="search" id="input-search" class="search-button" value="Find Jobs" type="submit" disabled>
						    </div>
            </form>
            <hr/>
        </div>
				<div class="inner narrow">
            <!-- <h1>Find the best jobs in <span class="city-state">{{ city }}</span></h1>
                 <h2>What type of job are you looking for?</h2>
                 <hr/> -->
            <h2>Popular Searches:</h2>
					  <form class="grid-form" method="post" action="#">
						    <ul class="actions">
					          <li>
                        <a target="_blank" href="{{basePath}}submit?option=higher education" class="button special job-link" data-job="higher education">
                            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                            </svg>
                            <span>Higher Education</span>
                        </a>
                    </li>
					          <li>
                        <a target="_blank" href="{{basePath}}submit?option=freelance" class="button special job-link" data-job="freelance">
                            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                            </svg>
                            <span>Freelance</span>
                        </a>
                    </li>
					          <li>
                        <a target="_blank" href="{{basePath}}submit?option=engineering" class="button special job-link" data-job="engineering">
                            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                            </svg>
                            <span>Engineering</span>
                        </a>
                    </li>
					          <li>
                        <a target="_blank" href="{{basePath}}submit?option=army" class="button special job-link" data-job="army">
                            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                            </svg>
                            <span>Army</span>
                        </a>
                    </li>
					          <li>
                        <a target="_blank" href="{{basePath}}submit?option=navy" class="button special job-link" data-job="navy">
                            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                            </svg>
                            <span>Navy</span>
                        </a>
                    </li>
					          <li>
                        <a target="_blank" href="{{basePath}}submit?option=pharmacy" class="button special job-link" data-job="pharmacy">
                            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                            </svg>
                            <span>Pharmacy</span>
                        </a>
                    </li>
					          <li>
                        <a target="_blank" href="{{basePath}}submit?option=medical" class="button special job-link" data-job="medical">
                            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                            </svg>
                            <span>Medical</span>
                        </a>
                    </li>
					          <li>
                        <a target="_blank" href="{{basePath}}submit?option=writing" class="button special job-link" data-job="writing">
                            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                            </svg>
                            <span>Writing</span>
                        </a>
                    </li>
					          <li>
                        <a target="_blank" href="{{basePath}}submit?option=radiology" class="button special job-link" data-job="radiology">
                            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
                            </svg>
                            <span>Radiology</span>
                        </a>
                    </li>
						    </ul>
					  </form>
				</div>
		</div>
</section>
